<html>
  <head>
      <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />       <meta name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no'>
      <link rel="stylesheet" type="text/css" href="../assets/styles/ltr/mainStyle.css" />
      <title> restaurants list </title>
  </head>
  <body>

  <video autoplay muted loop class="bgConteiner">
      <source src="../assets/bg.mp4" type="video/mp4">
  </video>

    <div class="mainContainer">
        <div class="headTitle">
            <span class="heightlight" style="width:96%;">LOST PROPERTY</span>
            <span class="headNotice">
                <div class="heightlight">
                    Please fill out te form and submit. We will contact you if you if we have the items(s)
                </div>
            </span>
        </div>

        <form>
            <div class="inputHolder">
                <span>Whats item(s) did you loose ?</span>
                <textarea style="height: 130px" placeholder=""></textarea>
            </div>

            <div class="inputHolder">
                <span>Whats date did you loose the items?</span>
                <textarea style="height: 130px" placeholder=""></textarea>
            </div>

            <div class="inputHolder">
                <span>Whats your contact number ?</span>
                <input placeholder="Auto f......"/>
            </div>

            <div class="inputHolder">
                <span>Whats is your email address ?</span>
                <input placeholder="Auto f......"/>
            </div>

            <button class="submitBtn">SUBMIT</button>
        </form>

        <div class="paddingSpace"></div>
    </div>
  </body>
</html>
